<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<!--sending all logs to all appenders-->
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="logs_json_file" />
	</root>

	<!--the console appender-->
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<!--specifying the displayed layout-->
		<layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
			<decorator type="log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json" />
			<member value="order:messageObject" />
		</layout>
	</appender>


	<!--a file appender for important logs structured in JSON-->
	<appender name="logs_json_file" type="log4net.Appender.FileAppender">
		<!--specifying the file-->
		<file value="c:\\logs\\logs_json.log" />		
		<!--json formatted log4net logging-->
		<layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
			<decorator type="log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json" />
			<member value="order:messageObject" />
		</layout>
	</appender>
</log4net>